<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <!-- Home Tab -->
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a>
        </li>
        <!-- Edit String Int Tab -->
        <li role="presentation">
            <a href="#editGenericDiagramMenu" aria-controls="editGenericDiagramMenu" role="tab"
               data-toggle="tab">Edit String Int</a>
        </li>
        <!-- Edit Settings Tab -->
        <li role="presentation">
            <a href="#editSetting" aria-controls="editSetting" role="tab"
               data-toggle="tab">Edit Settings</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Edit Settings Tab -->
        <div role="tabpanel" class="tab-pane" id="editSetting">
            <pl-generic-diagram-menu-edit-setting></pl-generic-diagram-menu-edit-setting>
        </div>
        <!-- Edit String Int Tab -->
        <div role="tabpanel" class="tab-pane" id="editGenericDiagramMenu">
            <pl-generic-diagram-menu-edit-generic-diagram-menu></pl-generic-diagram-menu-edit-generic-diagram-menu>
        </div>
        <!-- Home Tab -->
        <div role="tabpanel" class="tab-pane active" id="home">
            <h1 class="text-center">GenericDiagramMenu Plugin</h1>
            <p>Angular2 Lazy Loaded Module</p>
            <p>This is the root of the admin app for the GenericDiagramMenu plugin</p>
        </div>

    </div>
</div>